body{
  /* background-image: url(zebra.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: #444;
  text-align: center;
}

h1{
  color: #ffffff;
  line-height: 2rem;
  font-family: "Bahianita", cursive, sans-serif;
}

h2{
  color: #ffffff;
  line-height: 2rem;
  font-family: "barriecito", cursive, sans-serif;
}

h3{
  color: #ffffff;
  line-height: 2rem;
  font-family: "PT Serif", serif, sans-serif;
}

h2{
  font-size: 30px;
  font-style: normal;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: yellow;
  letter-spacing: 10px;
  word-spacing: 10px;
  text-transform: uppercase;
}

.formatting{
  font-size: 25px;
  line-height: 2em;
  color: white;
}

.borderImg{
  border: 2px solid red;
}

ul li{
  color: white;
  font-size: 20px;
}

ul > li{
  color: yellow;
}
